body {
    overflow-x: hidden;
    overflow-y: none;
  }
  /* #myContainer {
    width: 400vw;
    height: 400vh;
    position: relative;
    background: yellow;
  } */
  /* #myAnimation {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: red;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  #myAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    left: 0 ;
    background: #e61919;
    animation: color 30s linear infinite;
    user-select: none;
    position: fixed;
    top: 0;
    z-index: 3;
    /* display: none; */


      /* Set rules to fill background */
  /* min-height: 100%;
  min-width: 1024px; */
	
  /* Set up proportionate scaling */
  /* width: 100%;
  height: auto; */
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  }

  
  .logo {
    font: 300 150px Comfortaa;
    color: #fff;
    cursor: default;
  }
  .hint {
    position: fixed;
    z-index: 4;
    bottom: 10vh;
    width: 100vw;
    text-align: center;
    color: rgba(255,255,255,0.6);
    font: 300 30px Comfortaa;
    /* color: teal; */
  }


  .box {
    /* font-weight: 300;
    margin: 30px auto 40px;
    padding: 30px;
    background: white;
    color: black;
    width: 400px; */
    background: goldenrod;
    margin: 30px auto;
    opacity: 0;
    visibility: hidden;
    transition: all 3000ms cubic-bezier(0.335, 0.01, 0.03, 1.36);
    position: relative;
    top: 35vh;
    height: 200px;
  
  
    /* background: goldenrod;
   width: 300px;
 
   margin: 30px auto;
   transition: all 1s linear;
   display: block;

   padding: 30px;
   position: relative;
   top: 30vh;
   height: 200px;
   font: 16px Ubuntu; */
  
  
}
.box.open {
    opacity: 1;
    visibility: visible;
    /* top: 0; */
}





/* 
  .content {
    padding: 30px;
    position: relative;
    top: 20vh;
    height: 200px;
    font: 16px Ubuntu;
    display: block;
 
  } */
  @-moz-keyframes color {
    0% {
      background: #e61919;
    }
    25% {
      background: #7f19e6;
    }
    50% {
      background: #19e5e6;
    }
    75% {
      background: #80e619;
    }
    100% {
      background: #e61919;
    }
  }
  @-webkit-keyframes color {
    0% {
      background: #e61919;
    }
    25% {
      background: #7f19e6;
    }
    50% {
      background: #19e5e6;
    }
    75% {
      background: #80e619;
    }
    100% {
      background: #e61919;
    }
  }
  @-o-keyframes color {
    0% {
      background: #e61919;
    }
    25% {
      background: #7f19e6;
    }
    50% {
      background: #19e5e6;
    }
    75% {
      background: #80e619;
    }
    100% {
      background: #e61919;
    }
  }
  @keyframes color {
    0% {
      background: #e61919;
    }
    25% {
      background: #7f19e6;
    }
    50% {
      background: #19e5e6;
    }
    75% {
      background: #80e619;
    }
    100% {
      background: #e61919;
    }
  }
  