@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Barlow", sans-serif;
	font-size: 1.125rem;
	line-height: 1.5;
	color: #787878;
	background: #fff;
	text-rendering: optimizeLegibility;
}

#mainContainer {
	width: 100vw;
	/* background: coral; */
	display: flex;
	flex-direction: column;
}
ul li {
	margin: 0 1.5rem 0 0;
	list-style: none;
}
a {
	color: #787878;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a:hover {
	color: #ea8478;
}
a.active {
	color: #ea8478;
}

.container {
	display: flex;
	justify-content: center;
}

/* .grid {
	display: flex;
} */

.navGrid {
	display: flex;
	align-self: center;
	width: 90vw;
	/* background: grey; */
	justify-content: space-between;
	align-self: center;
	padding: 0 40px 0 40px;
}

nav {
	padding: 2.5rem 0 2.5rem 0;
}
nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;

	/* margin: 0; */
}
nav li {
	font-size: 2rem;
}
nav li:nth-child(3) {
	margin: 0;
}
#highlight {
	margin-top: 0;
	color: #ea8478;
	font-size: 2.25rem;
}

#galleryContainer {
	display: flex;
	flex-direction: column;
	/* background: crimson; */
	align-items: center;
	width: 100%;
}

.section-1,
.section-2,
.section-3 {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.workItems {
	width: 100%;
}

.gallery {
	padding: 0 0 4rem 0;
	align-self: center;
	width: 90vw;
	/* background: crimson; */
}

/* .workItems {
	width: ;
} */
/* .img-container {
	width: 100%;
	height: 500px;
	cursor: pointer;
	overflow: hidden;
} */

.img-container {
	position: relative;
}
.img-container:hover .img-content-hover {
	display: block;
}
img {
	width: 100%;
	height: 500px;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
img:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.img-content-hover {
	position: absolute;
	z-index: 1;
	white-space: nowrap;
	display: none;
	padding: 1rem;
	background: rgb(255, 255, 255, 0.9);
	font-weight: 400;
	margin-top: 1.25rem;
	margin-left: -2rem;
	border-radius: 2%;

	position: absolute;
	bottom: 4px;
	right: 16px;
	font-size: 18px;
	text-align: center;
}

.img-content-hover h3 {
	color: #ea8478;
}

.title {
	color: #2e2e2e;
	font-size: 1.5rem;
	font-weight: 700;
}
.category {
	font-size: 1rem;
	color: #787878;
}
.img-content {
	display: none;
}

/* .socialContainer {
	background: blanchedalmond;
} */
/* .social {
	background: blanchedalmond;
} */

.social,
.copyright {
	margin: 1rem;
}
.social li {
	display: inline-block;
}
footer {
	padding: 1rem 0;
	background: #f7f7f7;
	text-align: center;
}
@supports (display: grid) {
	.gallery .grid {
		grid-gap: 1rem;
	}
}
@media (min-width: 600px) {
	nav ul {
		-webkit-box-pack: right;
		-ms-flex-pack: right;
		justify-content: right;
	}
}

@media screen and (max-width: 1224px) {
	/* display column */
	.section-1,
	.section-2,
	.section-3 {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	img:hover {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.img-container {
		height: 100%;
	}
	.img-container:hover .img-content-hover {
		display: none;
	}
	.img-content {
		display: block;
		padding: 1rem 0;
	}
}
